/* Large Screen */
@media (min-width: 534px) {
    .col-lg-4 {
        flex: 0 0 30%;
        min-width: 500px;
    }

    .div-forgot-password {
        justify-content: flex-end;
        margin-top: 0;
    }
}

/* Small Screen */
@media (max-width: 534px) {
    .col-lg-4 {
        flex: 0 0 98%;
        max-width: 98%;
    }

    .div-forgot-password {
        justify-content: center;
        margin-top: 10px;
    }
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

/*Login styling*/

.login-div {
    margin-top: -175px;
}

.login-card-header {
    background-color: transparent;
    border: 1px transparent;
}

.login-h3 {
    color: white;
    font-size: 35px;
}

.login-card {
    background-color: transparent;
    border: 1px;
    border-radius: 5px;
    padding: 8px 12px;
    color: #fff;
}

.login-card-body .form-control {
    height: 50px;
    color: white;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.3s ease;
}

.login-card-body .form-control:hover,
.login-card-body .form-control:focus {
    background: transparent;
    box-shadow: none;
    border-color: rgba(255, 255, 255, 0.4);
}

.login-card-body .form-control::placeholder {
    font-size: 20px;
    color: #fff;
}

.login-btn {
    height: 50px;
    color: white;
    border: 1px solid transparent;
    background: #d46c53;
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
    font-size: 20px;
    margin-top: -15px;
}

.login-btn:hover {
    background: #d46c53;
    border-color: #d46c53;
}

.login-card-footer {
    background-color: transparent;
    border: 1px solid transparent;
}

/*Checkbox Styling*/

.form-check .form-check-input {
    float: left;
    margin-left: -20px;
}

.form-check-input {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 16px;
}

.form-check-input:not(:checked) {
    opacity: 0.12;
    border: 1px solid transparent;
}

.form-check-input:checked {
    background-color: #d46c53;
    border: 1px solid transparent;
}

.form-check-input:checked::before {
    background-color: transparent;
    border-color: #d46c53;
    opacity: 0;
    content: "\f14a";
}

.form-check-label {
    color: white;
    margin-top: 10px;
    font-size: 20px;
    padding-left: 5px;
}

.form-check-input:focus {
    box-shadow: none;
    outline: none;
    border-color: #d46c53;
}

/*Forgot Password Styling*/

.div-forgot-password {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.a-forgot-password {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-right: 8px;
}

.a-forgot-password:hover {
    color: #d46c53;
}


/*Sidebar Styling*/

.sidebar {
    color: black;
    background-color: #343a40;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    z-index: 1;
}

.welcome-container {
    display: flex;
    justify-content: center;
}

.welcome-text {
    text-align: center;
    width: 100%;
}

.sidebar-profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.sidebar .logout-div {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.sidebar .logout-button {
    width: 90%;
}

.nav-link {
    color: white;
    position: relative;
    padding: 10px 25px;
}

.collapsed-link {
    padding-left: 65px;
}


.nav-link i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.nav-link span {
    margin-left: 35px;
    font-size: 20px;
}

.nav-link:hover {
    color: #d46c53 !important;
}

.nav-link[aria-expanded="true"]:focus {
    color: #d46c53;
}

.nav-link[aria-expanded="false"]:focus {
    color: white;
}

.nav-link[aria-expanded="true"], .nav-link.focus-highlight {
    color: #d46c53;
}

.nav-link.focus-highlight {
    color: #d46c53;
}

.nav-link.focus-highlight, .collapsed-link.active {
    color: #d46c53;

.nav-item.active {
    color: #d46c53 !important;
}

.nav-item.active a {
    color: #d46c53 !important;
}

/*Profile Styling*/

.profile-profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

/* Overview Styling */

.top-div {
    margin-top: 50px;
}}

